/* Import custom retro font (VCR-OSD-Mono) */

@font-face {
  font-family: "VT323-Regular";
  src: url(../assets/fonts/VT323-Regular.ttf);
  font-weight: normal;
}

:root {
  --neon-pink: #ff1493;
  --terminal-green: #00cc00;
  --main-font: "VT323-Regular", sans-serif;
}

/* Universal Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* fallback static background */
  background-color: black;
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  font-family: var(--main-font);
  /* letter-spacing: -1px; */
}

/* the canvas is always positioned behind content */

video#bg-video {
  position: absolute;
  width: 100%;
  height: 100dvh;
  top: 0;
  left: 0;
  object-fit: fill;
  z-index: -1;
}

main#main-container {
  /* border: 1px solid var(--neon-pink); */
  height: 85%;
  width: 85%;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section#section-global-container {
  /* border: 2px solid blue; */
  height: 95%;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div#div-section-container {
  /* border: 2px solid orange; */
  height: 95%;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  /* border: 2px solid red; */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

img.footer-ico {
  transition: box-shadow 0.5s ease-in-out;
  height: 3rem;
}

img.footer-ico:hover {
  box-shadow: 0 0 20px var(--terminal-green);
  border-radius: 100%;
}

ul#ul-footer {
  display: flex;
  list-style: none;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: var(--neon-pink);
  transition: color 0.5s ease-in-out;
}

a:hover {
  color: var(--terminal-green);
}

footer a {
  font-size: 1.2rem;
}

figure#coming-soon-figure {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-left: 2rem;
  height: 100%;
  width: 100%;
  /* max-width: 300px; */
  text-align: center;
}

figure#coming-soon-figure video {
  width: 100%;
  height: auto;
  /* display: block;   */
  border-radius: 75%;
  opacity: 0.5;
}

figure#coming-soon-figure figcaption {
  margin-top: 2rem;
  padding-left: 0.5rem;
  font-size: 1.5rem;
  color: var(--terminal-green);
  margin-bottom: 1rem;
}

/* Retro Terminal Typewriter Effect T-green to N-pink */

.typewriter-class-1 {
  color: var(--terminal-green);
  transition: color 1s ease-in-out;
}

figure#coming-soon-figure .typewriter-class-2 {
  color: var(--neon-pink);
}

/* Balancing lines */

#typewriter-text {
  line-height: 1.5;
  word-break: break-word;
  text-align: left;
}


/* Nav and Buttons */

#nav-buttons {
  opacity: 0;
  visibility: hidden;
  margin-top: 1rem;
  transition: opacity 0.5s ease;
  pointer-events: none; /* Cuando está oculto, no debe ser interactivo */
}

#nav-buttons.visible {
  opacity: 1;
 visibility: visible;
  pointer-events: auto; /* Cuando es visible, debe ser interactivo */
}

/* Adapt layout for horizontal or larger screens */
@media (orientation: landscape) {
  figure#coming-soon-figure {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }

  figure#coming-soon-figure video {
    width: 30%;
  }

  figure#coming-soon-figure figcaption {
    font-size: 3rem;
  }

  footer a {
    font-size: 2rem;
  }

  footer {
    justify-content: center;
    gap: 4rem;
  }
}
